* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, .container {
    height: 100vh;
    width: 100%;
    color: rgb(220, 220, 220);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(5,10,24);
}

header > h1 {
    padding-top: 2rem;
    text-align: center;
}

main {
    flex-grow: 1;
    position: relative;
}

article {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0px;
    animation-duration: 400ms;
    background-position: center;
    background-size: cover;
}

article[data-index="0"] {
    background-image: url(https://cdn-imgix-open.headout.com/blog/media/images/Paris/Paris+at+Night.jpg?auto=compress&fm=webp&w=1200&h=750&crop=faces&fit=min);
}

article[data-index="1"] {
    background-image: url(https://cdn.pixabay.com/photo/2015/02/24/13/23/buildings-647400__480.jpg);
}

.article-text-section {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.article-text-section > p {
    width: 30%;
    text-align: center;
    padding: 5rem 2rem;
    font-size: 1.5rem;
}


.article-bottom-section {
    height: 29%;
    display: flex;
    justify-content: space-between;
}

.article-map-section {
    height: 100%;
    padding-left: 2rem;
}

.article-map-section > iframe {
    height: 100%;
    border-radius: 5px;
}

.article-button-section {
    display: flex;
    gap: 50px
}

.article-button-section > button {
    height: 60px;
    width: 100px;
    color: rgb(220, 220, 220);
    background-color: rgb(5,10,24);
    border: 1px solid black;
    border-radius: 15px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
}

.article-button-section > button:hover {
    background-color: rgb(7, 14, 34);
}

article[data-status="inactive"] {
    transform: translateX(-100%);
}


